body {
    display: inline-flex;
    font-family: 'Noto Sans';
}

.rightMenu {
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 0px 20px 20px 0px;
    width: 1450px;
    padding: 100px 50px 30px;
}

.topMenuSpans {
    width: 1350px;
    height: 35px;
}

.alignSelect {
    position: absolute;
    left: 1480px;
    top: 90px;
    width: 182px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid lightgray;
    padding-left: 10px;
    appearance: none;
    font-size: 18px;
}

.search {
    position: absolute;
    left: 1680px;
    top: 90px;
    width: 60px;
    height: 51px;
    border-radius: 15px;
    border: 3px solid lightgray;
    background: #d9d9d9;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 13px;
}

.rightMenu-bottom {
    display: flex;
}

.weekly {
    width: 725px;
}

.weeklyDiv, .monthlyDiv {
    width: 204px;
    height: 283px;
    margin-top: 130px;
}

.weeklyDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개씩 한 줄 */
    gap: 20px; /* 간격 */
}

.monthlyDiv {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.mainImage {
    width: 194px;
    height: 195px;
    background: lightgray;
    margin-bottom: 10px;
}

.monthly {
    width: 725px;
}

.weeklySpan, .monthlySpan {
    margin-top: 40px;
    font-size: 50px;
    margin-right: 0px;
}

.weeklySpan {
    float: left;
}

.monthlySpan {
    float: right;
}

.length {
    width: 1px;
    height: 710px;
    border-left: 3px solid lightgray;
}

.courseTitle {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.courseComment {
    font-size: 16px;
    float: right;
    color: #CC503B;
    font-weight: bold;
}

.courseAuthor {
    font-size: 16px;
    text-decoration: underline;
}

.courseViews, .courseLike {
    font-size: 16px;
    float: right;
    color: #a1a1a1;
}

.courseDate, .courseScope {
    font-size: 16px;
    color: #a1a1a1;
}

/*commonList*/

.commonList {
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.listItem {
    width: 194px;
}

.courseTitle,
.courseComment,
.courseAuthor,
.courseViews,
.courseScope,
.courseLike,
.courseDate {
    margin-right: 0px;
}