/* ─── 탭 바 ─── */
.tabs {
    display: flex;
    border-bottom: 2px solid #000;
    margin-bottom: 16px;
}

.tabs button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 8px 16px;
    cursor: pointer;
    color: #333;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 70px;
}

.tabs button.active-span {
    color: #cc503b;
    text-decoration-line: none;
    display: inline-block;
    width: 150px;
}

.tabs button.active-span::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #cc503b;
    font-weight: 500;
    display: inline-block;
}

/**/

.alignSelect {
    width: 182px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid lightgray;
    padding-left: 10px;
    appearance: none;
    font-size: 18px;
}

.searchDiv {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    /*border: 1px solid lightgray;*/
}

.search {
    width: 70px;
    height: 59px;
    border-radius: 8px;
    border: 3px solid lightgray;
    background: #d9d9d9;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 16px;
    margin-left: 20px;
}

.search:hover {
    cursor: pointer;
}

.rightMenu-bottom {
    height: 100%;
    display: flex;
}

.weekly,
.monthly {
    width: 50%;
    height: 98%;
    border-right: 1px solid lightgray;
}

.monthly {
    border-right: none;
}

.weeklyDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px; /* 혹은 0px으로 더 붙일 수도 있음 */
    margin-bottom: 50px;
    place-items: center;
}

.monthlyDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px; /* 혹은 0px으로 더 붙일 수도 있음 */
    margin-bottom: 50px;
    place-items: center;
}

.best_listItem {
    width: 194px;
    align-items: center;
}

.mainImage {
    width: 194px;
    height: 195px;
    background: #ececec;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.weeklySpan,
.monthlySpan {
    margin-top: 40px;
    font-size: 50px;
    display: block;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.length {
    width: 1px;
    height: 80%;
    border-left: 3px solid lightgray;
}

.courseTitle {
    display: inline-block; /* 또는 block */
    max-width: 150px;       /* 원하는 최대 너비 */
    white-space: nowrap;    /* 줄바꿈 방지 */
    overflow: hidden;       /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}

.courseTitle_link {
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: none;
}

.courseComment {
    font-size: 16px;
    float: right;
    color: #CC503B;
    font-weight: bold;
}

.courseAuthor {
    font-size: 16px;
    text-decoration: underline;
}

.courseViews, .courseLike {
    font-size: 16px;
    float: right;
    color: #a1a1a1;
}

.courseDate, .courseScope {
    font-size: 16px;
    color: #a1a1a1;
}

/*commonList*/

.commonList {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 20px;
    /*border: 1px solid lightgray;*/
}

.listItem {
    width: 194px;
    align-items: center;
}

.courseTitle,
.courseComment,
.courseAuthor,
.courseViews,
.courseScope,
.courseLike,
.courseDate {
    margin-right: 0px;
}

/**/

.buttons {
    position: absolute;
    width: 282px;
    display: flex;
    left: 1417px;
}

.admin_button {
    width: 134px;
    height: 46px;
    border: 3px solid #CC503B;
    border-radius: 10px;
    background: #fff;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #AE3D29;
    margin-right: 14px;
}

.admin_button_delete {
    width: 134px;
    height: 46px;
    border: 3px solid #CC503B;
    border-radius: 10px;
    background: #fff;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #AE3D29;
}

.admin_button:hover,
.admin_button_delete:hover {
    background: #CC503B;
    color: #fff;
}

.admin_checkBox {
    width: 27px;
    height: 27px;
    /*margin: 0px;*/
}