div .tab{
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.tab div{
    width:150px;
    margin: 1px;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.box{
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #ffffff;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.right-tags{
    width: 800px;
    display: inline-block;
    padding: 10px;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-component{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    width: 70px;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}

.selected- {
    background-color: white; /* 선택된 항목의 배경을 흰색으로 변경 */
}

.tag.tab div.selected-{
    background-color: white;
}

#x {
    /*css는 알아서해주세요*/
    color: red;
    cursor: pointer;
}

.tagArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}