div .tab{
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.tab div{
    width:150px;
    margin: 1px;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.box{
    border: 1px solid #ffffff;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.right-tags{
    display: inline-block;
    padding: 10px;
}

.tag-component{
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    width: 70px;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}

#x {
    /*css는 알아서해주세요*/
    cursor: pointer;
}