.course_rightMenu {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0px 20px 20px 0px;
    overflow-y: auto; /* y축 스크롤 */
    padding: 20px 50px 30px;
    border: 1px solid lightgray;
}

.courseWrite_tr_subject,
.courseWrite_tr_comment,
.courseWrite_td,
.courseWrite_tr_tag,
.courseWrite_tr_wrapper {
    border: 1px solid lightgray;
    height: 50px;
    text-align: center;
}

.courseWrite_table_one {
    margin-top: 85px;
    margin-bottom: 25px;
    width: 100%;
    border-collapse: collapse;
}

.courseWrite_table_two {
    margin-top: 110px;
    margin-bottom: 25px;
    width: 100%;
    border-collapse: collapse;
}

.courseWrite_td_subject {
    text-align: left;
    width: 230px;
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    border: 1px solid lightgray;
}

.courseWrite_tr_public {
    border: 1px solid lightgray;
    height: 50px;
}

.courseWrite_td_public {
    width: 230px;
    text-align: left;
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    border: 1px solid lightgray;
}

.courseWrite_td_radio {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.courseWrite_uploadDiv {
    box-sizing: border-box;
    padding-top: 100px;
    height: 700px;
}

.courseWrite_TagDiv {
    border: 1px solid #ddd;
    height: 700px;
}

.courseWrite_subject {
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #dfdfdf;
    font-size: 25px;
    padding: 10px;
    float: right;
}

.courseWrite_textarea {
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #dfdfdf;
    resize: none;
    font-size: 25px;
    box-sizing: border-box;
    padding: 10px;
}

.courseWrite_button {
    width: 220px;
    height: 63px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #AE3D29;
    background: #FFFFFF;
    border: 2px solid #CC503B;
    border-radius: 30px;
    float: right;
    margin-left: 20px;
}

.courseWrite_button:hover {
    background: #CC503B;
    color: #fff;
    transition: 0.2s;
}

/* 세부 디자인 */

.courseWrite_timeline_line {
    position: relative;
    width: 1200px;
    height: 15px;
    background: #CC503B;
    border-radius: 20px;
    margin: 0 auto;
}

.courseWrite_timeline_startSpan {
    position: absolute;
    left: -1%;
    top: 200%;
    color: #CC503B;
    font-weight: bold;
}

.courseWrite_timeline_finishSpan {
    position: absolute;
    margin-right: 0px;
    width: 70px;
    left: 95%;
    top: 200%;
    color: #CC503B;
    font-weight: bold;
}

/**/

div[class*="Outline"] {
    background-color: #CC503B !important;
    height: 8px !important;
    width: 95% !important;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    border-radius: 10px;
}

ul[class*="horizontal"] {
    display: flex !important;
    justify-content: space-between !important;  /* 핵심: 좌우 정렬 */
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

/* 2. li 항목은 동일한 너비로 분배 */
ul[class*="horizontal"] > li {
    flex: 1 1 0 !important;    /* 균등 분배 */
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;        /* 필요시 가운데 정렬 */
}

button[class*="Shape"] {
    border: 3px solid #CC503B !important;
    background: white !important;
}

div[class*="title"] {
    color: #CC503B !important;
}

div[class*="active"]{
    color: #CC503B !important;
}

article[class*="TimelineItemContentWrapper"]{
    max-width: 500px !important;
    min-width: 500px !important;
}

[class*="TimelineContentDetailsWrapper"]::after {
    content: none !important;
    background: none !important;
    height: 0 !important;
}

[class*=TimelineHorizontalWrapper] {
    padding: 0 !important;
}

ul[class*="horizontal"] > li {
    flex: 1 1 0 !important;
    width: auto !important;
}

[class*=MediaWrapper] {
    background: white !important;
}

[class*=TimelineMain] {
    box-sizing: border-box !important;
    width: 100% !important;
    max-width: 1450px !important;
}

/**/

.area_all_div {
    border: 1px solid lightgray;
    height: 384px;
}

.city_div {
    border-right: 1px solid lightgray;
    width: 300px;
}

.city_top_div {
    border-bottom: 1px solid lightgray;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    padding-top: 9px;
}

.district_div {
    border-right: 1px solid lightgray;
    width: 300px;
}

.district_top_div {
    border-bottom: 1px solid lightgray;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    padding-top: 9px;
}

.area_div {
    /*border: 1px solid lightgray;*/
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    overflow-y: scroll;
}

/**/

.courseWrite_td_tag {
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 10px;
}

.area-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 600px;
}

.tag-item {
    width: 123px;
    height: 63px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #A1A1A1;
    text-align: center;
}

.tag-item.tagSelected {
    width: 170px;
    height: 63px;
    border-radius: 30px;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #ffd9d2;
    border: 1px solid #cc503b;
    color: #cc503b;
    font-weight: bold;
}

.tag-item.not_tagSelected {
    width: 170px;
    height: 63px;
    border-radius: 30px;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #fff;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #A1A1A1;
}

.notSelected {
    height: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #8C8C8C;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 2px;
}

.selected {
    height: 40px;
    font-weight: bold;
    background-color: #cc503b;
    color: #FFFFFF;

    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 2px;
}