/*.resultContainer {
    display: block;
    flex-grow: 1;
    padding: 0 50px;
}*/

.resultContainer {
    flex: 1;
    padding: 100px;
    float: right;
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 1073px;
    box-sizing: border-box;
    background: #fff;
    overflow-y: scroll;
}


.commonList {
    margin-left: 0;
    margin-top: 50px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-template-rows: auto auto auto 1fr;  /* 마지막 줄에 여유 공간을 둠 */
    height: 100vh;  /* 전체 높이 채우기 */
    min-width: 1073px;
    width: 1073px;
    box-sizing: border-box;
}

.topMenu {
    display: flex;
    justify-content: space-between;  /* 양 끝 정렬 */
    align-items: center;
    margin-left: 0px;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    min-width: 1073px;
    width: 1073px;
    box-sizing: border-box;
}

.leftGroup {
    display: flex;
    align-items: center;
    gap: 12px;
}

.toSearch {
    border: 1px solid #CC503B;
    border-radius: 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    color: #CC503B;
    text-decoration: none;
}

.selectedTag {
    margin-top: 9px;
}
.selectedTag .head {
    font-size: 17px;
    font-weight: bold;
    color: #7c7b7b;
}
.selectedTag .body {
    font-size: 14px;
    color: #b0b0b0;
}

.sorting {
    margin-top: 9px;
    margin-left: auto;
    font-size: 15px;
}

.courseTitle {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    white-space: nowrap;          /* 줄바꿈 금지 */
    overflow: hidden;             /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;      /* 말줄임표 (...) 처리 */
    display: inline-block;        /* 또는 block/flex도 가능 */
    max-width: 150px;             /* 제목이 너무 길어질 경우 기준 너비 */
    cursor: pointer;
}

.courseComment {
    font-size: 16px;
    float: right;
    color: #CC503B;
    font-weight: bold;
}

.courseAuthor {
    font-size: 16px;
    text-decoration: underline;
}

.courseViews, .courseLike {
    font-size: 16px;
    float: right;
    color: #a1a1a1;
}

.courseDate, .courseScope {
    font-size: 16px;
    color: #a1a1a1;
}

.listItem {
    width: 194px;
}

.courseTitle,
.courseComment,
.courseAuthor,
.courseViews,
.courseScope,
.courseLike,
.courseDate {
    margin-right: 0px;
}

.mainImage {
    width: 194px;
    height: 195px;
    background: lightgray;
    margin-bottom: 10px;
}
.mainImage img{
    width: 194px;
    height: 195px;
    margin-bottom: 10px;
}

.courseStack {
    grid-column: 1 / -1; /* 전체 열 너비 차지 */
    justify-self: center;
    align-self: end;
    margin-top: 40px;
}

.noResult {
    grid-column: 1 / -1;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    color: #999;
}